.main {
	width: 80%;
	height: auto;
	display: flex;
	flex-direction: column;
}

.top {
	display: flex;
	align-items: flex-end;
}

.header {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.heading {
	font-size: 64px;
	color: var(--color-text);
	font-weight: 700;
}

.subtitle {
	color: var(--color-text);
	font-weight: 300;
	line-height: 1.5;
}

.ratings {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
