.wrapper {
	position: relative;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.topDesktopBackground {
	position: absolute;
	top: 0;
	left: 0;
}

.bottomDesktopBackground {
	position: absolute;
	bottom: 0;
	right: 0;
}

.main {
	width: 80%;
	height: auto;
	display: flex;
	flex-direction: column;
	gap: 100px;
}

.top {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.header {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 40%;
}

.heading {
	font-size: 64px;
	color: var(--color-text);
	font-weight: 700;
}

.subtitle {
	color: var(--color-text);
	font-weight: 300;
	line-height: 1.5;
}

.ratings {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.bottom {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}

@media (max-width: 1000px) {
	.desktopBackground {
		display: none;
	}
}
