.wrapper {
	position: relative;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.topDesktopBackground {
	position: absolute;
	top: 0;
	left: 0;
}

.bottomDesktopBackground {
	position: absolute;
	bottom: 0;
	right: 0;
}

.main {
	width: 80%;
	height: auto;
	display: flex;
	flex-direction: column;
	gap: 100px;
	position: absolute;
}

.top {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.header {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 40%;
}

.heading {
	font-size: 64px;
	color: var(--color-text);
	font-weight: 700;
}

.subtitle {
	color: var(--color-text);
	font-weight: 300;
	line-height: 1.5;
}

.ratings {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.bottom {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}

.mobileBackground {
	display: none;
}

.bottomMobileBackground {
	position: absolute;
	bottom: 0;
	right: 0;
}

.topMobileBackground {
	position: absolute;
	top: 0;
	left: 0;
}

@media (max-width: 1000px) {
	.wrapper {
		height: auto;
		display: block;
	}

	.desktopBackground {
		display: none;
	}

	.mobileBackground {
		display: block;
	}

	.main {
		position: relative;
		width: 100%;
		padding: 100px 30px;
		gap: 50px;
	}

	.top {
		flex-direction: column;
		align-items: stretch;
		gap: 50px;
	}

	.header {
		width: 100%;
		gap: 30px;
	}

	.heading {
		text-align: center;
	}

	.subtitle {
		text-align: center;
	}

	.bottom {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
}
